[Unit]
Description = 'Alarm monitoring service'
After = network.target

[Service]
Type = simple
ExecStart = python /root/bootstrap/pi-alarm-bundle/main.py
User = root
Group = root
Restart = on-failure
SyslogIdentifier = alarm-monitor
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
